name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        passphrase: ${{ secrets.PASSWORD }}
        key: ${{ secrets.KEY1 }}
        port: ${{ secrets.PORT }}
        script: |
          cd ~/www/dashboard.element-acoustics.com/dashboard/
          git pull
          php artisan migration:fresh --seed
          
#php artisan optimize:clear